{% extends "base.html" %}
{% block title %} СТРАНИЦА ПОИСКА ХХ из шаблона Base {% endblock %}


{% block content %}

<div class="row">
            <div class="col">
                <h1>ПОИСК ПО ХХ из шаблона Base <span class="badge badge-secondary">СЛУЖБА ПОИСКА ХХ</span></h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <p> ДЛЯ ПОИСКА ПЕРЕЙДЕМ НА СТРАНИЦУ ПОИСКА <a href="/zapros/"> ПОИСК </a></p>
            </div>
        </div>

{% endblock %}