<!DOCTYPE html>
<html>
 <meta charset="UTF-8">
    <head>
        <title> ПОИСК ПО SQLite - РЕЗУЛЬТАТ </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/zapros/"> ХХ  ПОИСК</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                    <a class="nav-link" href="/">  ГЛАВНАЯ СТРАНИЦА ПАРСЕРА <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/zapros/"> ФОРМА ПОИСКА по ХХ </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/base/"> ФОРМА ПОИСКА по SQLite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/address/"> КОНТАКТЫ </a>
                </li>
            </ul>
        </div>
    </nav>
    <hr><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> ПО ВАШЕМУ ЗАПРОСУ {{vacanc}} в регионе  {{area}} найдена следующая информация: </h1><br>
                <h2>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</h2><br>

                <table class="table table-striped">
                
                        <th>  <ul> {% for item in vacancies %} </ul>
                            <li> РЕГИОНЕ: {{item.reg}} ПО ЗАПРОСУ:  {{item.vac}} НАЙДЕНО: {{item.num}} ВАКАНСИЙ </li>
                                  {% endfor %}
                        </th>
                </table>
            </div>
        </div>
        <br>

    </div>
</body>
</html>