<!DOCTYPE html>
<html>
 <meta charset="UTF-8">
    <head>
        <title> ПОИСК ПО SQLite </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href = "/static/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/zapros/"> ХХ ПОИСК </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">  ГЛАВНАЯ СТРАНИЦА ПАРСЕРА <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/zapros/"> ФОРМА ПОИСКА по ХХ </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/base/"> ФОРМА ПОИСКА по SQLite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/address/"> КОНТАКТЫ </a>
                </li>
            </ul>
        </div>
    </nav>
    <hr><br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1> ПОИСК ПО ЛОКАЛЬНОЙ БАЗЕ (SQLite) </h1><br>
            </div>
        </div>
        <br>
        <form method="post">
            <div class="form-group">
                <label for="vacanc">Введите название вакансии (или язык программирования, например: PYTHON)</label>
                <input type="input" name="vacanc" class="form-control" id="vacanc" placeholder="ВВЕДИТЕ ПРЕДПОЧИТАЕМЫЙ ЯЗЫК ПРОГРАММИРОВАНИЯ (название вакансии: PYTHON DEVELOPER)">
                <small id="vacancyHelp" class="form-text text-muted"> НАПРИМЕР: PYTHON DEVELOPER </small>
            </div>
            <div class="form-group">
                <label for="region"> ВЫБИРИТЕ РЕГИОН В КОТОРОМ ОСУЩЕСТВИТЬ ПОИСК (ИЗ ТОГО ЧТО ЕСТЬ В БАЗЕ) </label>
                <select class="form-control" name="region" id="region" value="">
                    <option value="2"> Санкт-Петербург </option>
                    <option value="70"> ЕЙСК </option>
                    <option value="113"> Вся РФ </option>
                    <option value="5"> Украина </option>
                    <option value="40"> КАЗАХСТАН </option>
                    <option value="1"> МОСКВА </option>
                    <option value="16"> БЕЛАРУСЬ </option>
                    <option value="1001"> ДРУГИЕ РЕГИОНЫ </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary"> ИЩЕМ???))) </button>
        </form>
    </div>

</body>
</html>